# /etc/systemd/system/yasaworks.service

[Unit]
Description=YasaWorks SSH TUI
After=network.target

[Service]
ExecStart=/home/ec2-user/yasaworks
Restart=always

[Install]
WantedBy=multi-user.target

